@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Playwrite+BE+WAL:wght@100..400&family=Qwitcher+Grypen:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte1: Arial, sans-serif, Geneva;
    --fonte2: "Playwrite BE WAL", Arial;
    --fonte3: "Moderustic";
}

html,
body {
    min-height: 100%;
    background-color: darkgray;
}

header {
    background-color: black;
    padding: 10px;
    color: aliceblue;
    text-align: center;

}

header>h1 {
    padding-top: 40px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-weight: bolder;
    font-size: 10vw;
}

header>p {
    color: aliceblue;
    padding-bottom: 40px;
    font-family: var(--fonte3);

}

a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 60px;
    font-size: 2.6vw;
    font-style: normal;
    font-weight: 400;
}

section>p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(255, 255, 255);
    color: black;
}

section.image {
    background-color: rgb(111, 111, 111);
    color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.484);
}

section.image#img001 {
    background-image: url(imagens/background001.jpg);
}

section.image#img002 {
    background-image: url(imagens/background002.jpg);
}

section.image>p {
    background-color: rgba(0, 0, 0, 0.347);
    display: inline-block;
    padding: 24px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.629);
    border-radius: 12px;
}

footer {
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 50px;
    font-size: 1.3em;
    font-family: var(--fonte3);
}